/* Search Bar Styles */
#search-container {
    display: flex;
    margin: 1rem auto;
    max-width: 500px; /* Adjust as needed */
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 1rem;
  }
  
  #name-search-form {
    display: flex;
    width: 100%;
  }
  
  #name {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
  }
  
  #name-search-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  /* Search Results Styles */
  #search-results {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to next line */
    justify-content: space-between; /* Space cards evenly */
  }
  
  .search-result-card {
    width: calc(33% - 1rem); /* Adjust width based on desired columns */
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .search-result-card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  