@import url(app.css);

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 50px;
  padding: 1.5rem 5rem;
  box-shadow: 0 0 10px 0 rgb(188, 188, 188);
  width: 500px;
}

.card-img {
  margin: 0 auto;
}

.card-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-name {
  margin: 0 auto;
  font-size: 1.2rem;
}

.appointment-btn {
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem auto;
}

.card p {
  width: 100%;
}
