@import url(app.css);

.name-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}
.apply-name-section {
    margin: 0 auto;
    width: 30%;
  }
  
  .apply-name-container {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  option {
    text-transform: capitalize;
  }
  
